<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:include="page::head"></head>
<body>
<div th:include="page::headerAdmin"></div>

<section id="stats" class="stats">
    <div class="container container--85">
        <div class="stats--item">
            <em th:text="${totalBags}">10</em>
            <h3 th:text="#{number.of.bags}">Oddanych worków</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum
                tempora!</p>
        </div>
        <div class="stats--item">
            <em th:text="${totalDonations}">5</em>
            <h3 th:text="#{donations.number}">Przekazanych darów</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas
                quam.</p>
        </div>
    </div>
</section>

<section id="help" class="help">
    <h2 th:text="#{who.we.help}">Who we help?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p th:text="#{who.we.help.list}">Who we help: </p>

        <ul class="help--slides-items">
            <li>
                <div th:if="${count.odd}" class="col" th:each="institution, count : ${institutions}">
                    <div class="title" th:text="${institution.name}"></div>
                    <div class="subtitle" th:text="${institution.description}"></div>
                </div>
            </li>
            <li>
                <div th:if="${count.even}" class="col" th:each="institution,count: ${institutions}">
                    <div class="title" th:text="${institution.name}"></div>
                    <div class="subtitle" th:text="${institution.description}"></div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div th:include="page::footer"></div>

<script th:src="@{/js/app.js}"></script>
</body>
</html>
