<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:include="page::head"></head>
<body>
<div th:include="page::header"></div>
<!--    <div class="slogan container container&#45;&#45;90">-->
<!--      <h2>-->
<!--        Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie-->
<!--        informacje o odbiorze.-->
<!--      </h2>-->
<!--    </div>-->
<div th:include="page::footer"></div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
