<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:include="page::head"></head>
<body>
<div th:include="page::headerMain"></div>
<section class="login-page">
    <h2>Załóż konto</h2>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-group">
            <input type="text" th:field="*{firstName}" placeholder="Jan"/>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{lastName}" placeholder="Kowalski"/>
        </div>
        <div class="form-group">
            <input type="email" th:field="*{email}" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" placeholder="password"/>
        </div>
        <div class="form-group">
            <input type="password" name="password2"  placeholder="repeat password"/>
        </div>

        <div class="form-group form-group--buttons">
            <a href="../login.html" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>

<div th:include="page::footer"></div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
